h1{
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
}
P{
    color:darkorange;
    font-family:fantasy;
}

th{
    font-weight: 800;
    background-color:tomato;
    color:white;
}
table{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: tomato;
}
